<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoibFo_yxtoo-KNgU_G8oludXLcq-uIHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>203801917672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spicey.app</string>
	<key>PROJECT_ID</key>
	<string>spicey-ed7f7</string>
	<key>STORAGE_BUCKET</key>
	<string>spicey-ed7f7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203801917672:ios:2fb01ee336c13a2bfd715d</string>
</dict>
</plist>